.media-section{
    background-color: black;
    padding: 5% 11%;
}
.item-owl-sec{
    background-image: url('../../assets/Mask\ Group\ 28.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
height: 300px;
}
.owl-carousel .owl-item img{
    width: 37px;
height: 28px
}
.media-ele{
    position: relative;
    bottom: -213px;

}
.owl-dot {
    border: 1px solid #fff !important;
    border-radius: 50%;
    padding: 4px;
    margin: 3px;
   
}

.txtmed{
    font-size:23px;
}

@media (min-width: 200px) {

    
    .item-owl-sec{
        background-image: url('../../assets/Mask\ Group\ 28.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100px;
    height: 100px;
    }
    .owl-carousel .owl-item img{
        width: 10px;
    height: 12px
    }
    .media-ele{
        position: relative;
        bottom: -40px;
    
    }
    .txtmed{
        font-size:10px  ;
    }
    .owl-dot {
        border: 1px solid #fff !important;
        border-radius: 50%;
        padding: 4px;
        margin: 3px;
       
    }
  }

@media (min-width: 768px) { 
    .media-section{
        background-color: black;
        padding: 5% 11%;
    }
    .item-owl-sec{
        background-image: url('../../assets/Mask\ Group\ 28.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
    height: 200px;
    }
    .owl-carousel .owl-item img{
        width: 37px;
    height: 28px
    }
    .media-ele{
        position: relative;
        bottom: -83px;
        
    
    }
    .owl-dot {
        border: 1px solid #fff !important;
        border-radius: 50%;
        padding: 4px;
        margin: 3px;
       
    }
    .txtmed{
      font-size: 16px;
    }
 }

@media (min-width: 992px) { 

    .media-section{
        background-color: black;
        padding: 5% 11%;
    }
    .item-owl-sec{
        background-image: url('../../assets/Mask\ Group\ 28.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
    height: 300px;
    }
    .owl-carousel .owl-item img{
        width: 37px;
    height: 28px
    }
    .media-ele{
        position: relative;
        bottom: -213px;
    
    }
    .owl-dot {
        border: 1px solid #fff !important;
        border-radius: 50%;
        padding: 4px;
        margin: 3px;
       
    }
    .txtmed{
        font-size: 23px;
    }
 }

@media (min-width: 1400px) { 

    .media-section{
        background-color: black;
        padding: 5% 11%;
    }
    .item-owl-sec{
        background-image: url('../../assets/Mask\ Group\ 28.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
    height: 300px;
    }
    .owl-carousel .owl-item img{
        width: 37px;
    height: 28px
    }
    .media-ele{
        position: relative;
        bottom: -213px;
    
    }
    .owl-dot {
        border: 1px solid #fff !important;
        border-radius: 50%;
        padding: 4px;
        margin: 3px;
       
    }

   
}