@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
 
  font-family: 'Roboto', sans-serif;
  
  
}

body {
  margin: 0;
 }


.mode--theme{
  position: fixed;
  right: 0;
  top: 49.6%;
  background-color: black;
  color: white;
}


.font-size-up{
  position: fixed !important;
  right: -4px !important;
  top: 55% !important;
  z-index: 100 !important;
  border: 0 !important;
 
  border: 1px solid;
  background-color: black;
 
  

}
.font-size-down{
  position: fixed !important;
  right: 0px !important;
  top: 61.5% !important;
  z-index: 100 !important;
  border: 0 !important;
 
  background-color: black;

}

.font-size-changer{
  width: 0 !important;
  height: 0 !important;
  display: block !important;
}
.adjust{
  font-size: 24px!important;
}


