@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
 
  font-family: 'Roboto', sans-serif;
  
  
}

body {
  margin: 0;
 }


.mode--theme{
  position: fixed;
  right: 0;
  top: 50%;
}

/* 
.font-up{
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 100;
  border: none !important;
}


.font-down{
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 100;
  border: none !important;
} */

.font-size-up{
  position: fixed !important;
  right: 0px !important;
  top: 60% !important;
  z-index: 100 !important;
  border: 0 !important;
  font-size: 21px !important;
  border: 1px solid;
  

}
.font-size-down{
  position: fixed !important;
  right: 0px !important;
  top: 65% !important;
  z-index: 100 !important;
  border: 0 !important;
  font-size: 21px !important;

}

.font-size-changer{
  width: 0 !important;
  height: 0 !important;
  display: block !important;
}