.iimg-mask{
    background-image: url(../../assets/Mask\ Group\ 29.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 7%;
}
.mem-par{
    font: normal normal normal 16px Roboto;
letter-spacing: 1.1px;
color: #FFFFFF;
opacity: 0.84;
}
.mem-title{
    font: normal normal bold 30px Roboto;
color: #FFFFFF;
}
.mem-btn{
    border: none;
    padding: 10px;
   
}



@media (min-width: 200px) { 

    .mem-par{
        font: normal normal normal  Roboto;
        font-size: 10px !important;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 0.84;
    
    }
    .mem-title{
        font: normal normal bold  Roboto;
        font-size: 14px !important;

    color: #FFFFFF;
    }
    .iimg-mask{
        background-image: url(../../assets/Mask\ Group\ 29.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 7%;
        width: 110%;
        
    }

    .mem-btn{
        border: none;
        padding: 10px;
        font-size: 10px;
       
    }
    
 }

@media (min-width: 768px) { 

    .mem-par{
        font: normal normal normal 12px Roboto;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    opacity: 0.84;
 
    }
    .mem-title{
        font: normal normal bold 20px Roboto;
        color: #FFFFFF;
  
    }

    .iimg-mask{
        background-image: url(../../assets/Mask\ Group\ 29.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding:7%;
        height: 55vh;
    }

 }

@media (min-width: 992px) { 

    .mem-par{
        font: normal normal normal 20px Roboto !important;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    opacity: 0.84;
    margin: 20px 0 !important;
    }
    .mem-title{
        font: normal normal bold 30px Roboto !important;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    margin: 40px 0 !important;
 
    }

    .iimg-mask{
        
        
        padding: 7%;
        margin: 0 !important;
    }

    .mem-btn{
        border: none;
        padding: 10px;
       font-size: 16px;
    }



 }

@media (min-width: 1400px) { 
    .iimg-mask{
        background-image: url(../../assets/Mask\ Group\ 29.png);
        background-size: contain;
        background-repeat: no-repeat;
        
        padding: 7%;
        height: 96vh;
    }
    .mem-par{
        font: normal normal normal 14px Roboto;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    opacity: 0.84;
    margin: 10px 0 !important;
    }
    .mem-title{
        font: normal normal bold 25px Roboto;
    letter-spacing: 2.35px;
    color: #FFFFFF;
    margin: 0 !important;
    margin: 0;
    }

    .mem-btn{
        border: none;
        padding: 10px;
       font-size: 16px;
    }
}