.news-bg{
    background-image: url(../../assets/Mask\ Group\ 20.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 368px;
height: 411px;
}
.news-bg-two{
    background-image: url(../../assets/Mask\ Group\ 38.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 368px;
height: 411px;
display: block;
}
.news-ele{
    position: relative;
    bottom: -273px;
}

.news-txt{
    font: normal normal bold 32px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
padding:5%;

}

.txt-news{
    font: normal normal normal 24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
padding:5%;
}
.newsimg{
    margin: 2% 3%;
}


@media (min-width: 200px) { 
    .news-bg{
        background-image: url(../../assets/Mask\ Group\ 20.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 268px;
    height: 311px;
    }
    .news-bg-two{
        background-image: url(../../assets/Mask\ Group\ 38.png);
        background-size: cover;
        background-repeat: no-repeat;
       display: none;
    }
    .news-ele{
        position: relative;
        bottom: -213px;
    }
    
    .news-txt{
        font: normal normal bold 18px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding:5%;
    
    }
    
    .txt-news{
        font: normal normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding:5%;
    }
    .newsimg{
        margin: 2% 3%;
    }
 }


@media (min-width: 992px) {

    .news-bg{
        background-image: url(../../assets/Mask\ Group\ 20.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 368px;
    height: 411px;
    }
    .news-bg-two{
        background-image: url(../../assets/Mask\ Group\ 38.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 368px;
    height: 411px;
    display: block;
    }
    .news-ele{
        position: relative;
        bottom: -273px;
    }
    
    .news-txt{
        font: normal normal bold 22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding:5%;
    
    }
    
    .txt-news{
        font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding:5%;
    }
    .newsimg{
        margin: 1% 2%;
    }
  }

@media (min-width: 1400px) { 
    .news-bg{
        background-image: url(../../assets/Mask\ Group\ 20.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 368px;
    height: 411px;
    }
    .news-bg-two{
        background-image: url(../../assets/Mask\ Group\ 38.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 368px;
    height: 411px;
    display: block;
    }
    .news-ele{
        position: relative;
        bottom: -273px;
    }
    
    .news-txt{
        font: normal normal bold 32px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding:5%;
    
    }
    
    .txt-news{
        font: normal normal normal 24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding:5%;
    }
    .newsimg{
        margin: 2% 3%;
    }
    

 }

 